
html {
    scroll-behavior: smooth;
}
  .container {
    max-width: 80%;
    text-align: center;
    color: white; /* Cor do texto */
  }

.image-container {
    width: 80%; /* largura da imagem */
    height: auto; /* altura da imagem */
    margin: 0 auto; /* margem superior e inferior da imagem */
    overflow: hidden; /* esconde qualquer parte da imagem que ultrapasse a área definida */
}

.image-container img {
    width: 100%; /* largura da imagem */
    height: auto; /* altura da imagem */
    object-fit: cover; /* redimensiona a imagem para cobrir toda a área do contêiner, cortando partes excessivas */
}

h1{
    font-size: 80px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}


dl{
    text-align: justify;
    color: white;
    position: absolute;
    top: 95%;
    left: 25%;
    
}

dd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    
    
}
dt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D663AD;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

.objetivo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Imagens/fundoR.jpeg');
    background-size: cover;
    background-position: center;
}

.objetivo-img{
    width: 70%; /* Alterando para largura 100% para ocupar toda a largura da div 'objetivo' */
  height: auto; /* Mantendo a proporção da imagem */
  border-radius: 10px ;
}

.investimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.tipos-img{
    max-width: 100%;
    max-height: 100%;
}

.inv{
    position: relative;
}


header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
   
 
}
header li {
    margin-right: 20px;
    display: inline;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
}

#inv,#pla,#eco, #mot, #plj, #sob, #fer, #dif, #imp{
    padding-top: 140px;
}

.i {
font-size: 24px;
font-weight: bold;
color: white;
font-family: 'Inter', sans-serif;
text-align: center;

}

.investimento-texto{
    text-align: justify;
    font-size: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
}



header {
    top: 0;
    height: 40px;
    width: 100%;
    position: fixed;
    background: linear-gradient(to right, #F83A3A, #F13DD4, #7000FF);
            color: white;
            
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
}

.container-img{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.investimento-img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
   
}

.investimento-texto{
    text-align: justify;
    font-size: 18px;
    color: white;
    flex: 1;
}

.conteudo{
    display: flex;
     flex-direction: column;
}

.planilha{
    float: left;
    margin-left: 10px;
}

table{
    width: 40%;
    margin: 20px auto;
}

td{
    width: 100%;
    height: auto;
    padding: 10px;
}

.conteudo-economia{
    display: flex;
     flex-direction: column;
}

.economia{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Imagens/economias.jpeg');
    background-size: cover;
    background-position: center;
}

.economia-img{
    width: 70%; /* Alterando para largura 100% para ocupar toda a largura da div 'objetivo' */
    height: auto; /* Mantendo a proporção da imagem */
    border-radius: 10px ;
}

.eco{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    text-align: justify;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.dl{
    text-align: justify;
    color: white;
    position: absolute;
    top: 375%;
    left: 49%;
}


.waren-img{
    float: left;
    width: 20%;
    margin-right: 20px;
    border-radius: 90px;
    max-width: 100%;
}


.motivacao{
  max-width: 100;
  max-height: 100%;
}

.moti{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.mot1{
   text-align: center;
}

.motivacao1{
    max-width: 100;
    max-height: 100%;
   
}

.plan{
    font-size: 24px;
font-weight: bold;
color: white;
font-family: 'Inter', sans-serif;
text-align: center;
}

.plan{
    font-size: 32px;
    font-weight: bold;
    color: #380C60;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.dll{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    max-width: 900px;
    top: 570%;
    text-align: center;
}

.texto-plan{
    text-align: justify;
}

.texto-plan1{
    text-align: justify;
}

.pink-title {
    color: #ff69b4; 
}

.dif{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff69b4;
    font-size: 24px;
    max-width: 900px;

    text-align: center;
}



.imp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003f88;
    font-size: 29px;
    max-width: 900px;
    text-align: center;
}

.roxo-title {
    color: #003f88; 
}

.textover{
    color: #FF0000;
    text-align: justify;
}

.div-logo{
    text-align: center;
}

.logo{
    width: 550px;
    height: auto;
}

.vermelho{
    color: red;
    font-size: 25px;
}

.sobre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 29px;
    text-align: center;
}

body{
    text-align: center;
}

.sobrenos-img{
    display: block;
    margin: 0 auto;
}